:root {
    /* Colour *********************************************************************************************************/

    /* Typography *****************************************************************************************************/
    font-family: var(--font-family-sans-serif);
    font-size: 16px;
}

/* Bootstrap Re-Definition ********************************************************************************************/
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--light);
    font-weight: bold;
}

/* HTML Classes *******************************************************************************************************/

/* Self-Defined Classes ***********************************************************************************************/
